In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/gummy_data.csv')

In [4]:
df.tail()

    pack  pear  carrot  grape  berry  apple  sum 3rd pack  box
66    67   NaN     NaN    NaN    NaN    NaN    0      NaN  NaN
67    68   NaN     NaN    NaN    NaN    NaN    0      NaN  NaN
68    69   NaN     NaN    NaN    NaN    NaN    0      NaN  NaN
69    70   NaN     NaN    NaN    NaN    NaN    0      NaN  NaN
70    71   NaN     NaN    NaN    NaN    NaN    0      NaN  NaN