In [1]:
import pandas as pd

In [6]:
import_df = pd.read_csv('data/gummy_data.csv')

In [9]:
import_df.shape

(71, 9)

In [8]:
import_df.sample(5)

    pack  pear  carrot  grape  berry  apple  sum 3rd pack  box
38    39   1.0     2.0    1.0    1.0    3.0    8      NaN  5.0
51    52   4.0     0.0    3.0    0.0    1.0    8      NaN  6.0
67    68   NaN     NaN    NaN    NaN    NaN    0      NaN  NaN
36    37   1.0     1.0    1.0    3.0    2.0    8      NaN  5.0
5      6   1.0     2.0    2.0    2.0    1.0    8      NaN  2.0

In [10]:
df = import_df[import_df['sum'] != 0]

In [11]:
df.shape

(55, 9)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55 entries, 0 to 54
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   pack      55 non-null     int64
 1   pear      55 non-null     float64
 2   carrot    55 non-null     float64
 3   grape     55 non-null     float64
 4   berry     55 non-null     float64
 5   apple     55 non-null     float64
 6   sum       55 non-null     int64
 7   3rd pack  3 non-null      object
 8   box       55 non-null     float64
dtypes: float64(6), int64(2), object(1)
memory usage: 4.3+ KB

In [ ]:
|